# 密钥 & 环境变量
.env

# Python 虚拟环境
.venv/

# Python 缓存 & 编译产物
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter Notebook 缓存
.ipynb_checkpoints/
*.ipynb_checkpoints/

# claude
.claude/settings.local.json

# IDE & 系统文件
.vscode/
.idea/
.DS_Store
Thumbs.db

# 日志
*.log
