[submodule "react-agent"]
	path = react-agent
	url = https://github.com/TallMessiWu/react-agent.git
[submodule "long-term-memory-research-agent"]
	path = long-term-memory-research-agent
	url = https://github.com/TallMessiWu/long-term-memory-research-agent.git
[submodule "multi-agent-collab"]
	path = multi-agent-collab
	url = https://github.com/TallMessiWu/multi-agent-collab.git
